*{
    background-color: antiquewhite;
    color: salmon;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding: unset;
    ma


}
h3{
    font-size: 25px;
    color: greenyellow;
    font-style: italic;


}

header
{

    background-color: coral;
    background-clip: padding-box;
    border-color: fuchsia ;
    border-style: dotted;
    text-align: center;
}
.container{
    justify-content: center;
    display: grid;
    border-style: solid;
    margin: 0;
    padding: 0;
}
.list{
    background-color: aquamarine;
    border-radius: 20px;
    margin-top: 1em;

    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: space-evenly;
}
.link{
    background-color: aquamarine;
}