*{
    background-color: bisque;
    color: blue;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: unset;



}
nav
{
    background-color: white;

}
h3{
    /*background-color: coral;*/
    font-size: 25px;
    color: brown;
    font-style: revert;


}
aside
{
    margin-right: 50px;
    border-color: black;
}

header
{
    margin-left: initial;

    /*background-color: blue;*/
    background-clip: padding-box;
    border-color: fuchsia ;
    border-style: solid;
    text-align: center;
    /*border-radius: 10px;*/
}
.inizio{
    margin:0;
    padding: 0;
    text-align: center;
}
p{
    color: fuchsia;
}
.container{
    justify-content: center;
    display: grid;
    border-style: solid;
    /*border-radius: 10px;*/
    margin: 0;
    padding: 0;
}
.list{
    background-color: white;

    margin-top: 1em;


    display: flex;
    justify-content: space-evenly;
}
.link{
    background-color: #ffffff;
    color: greenyellow;
}

img{

    border-style: double;
    border-color: black;
    border-radius: 20em;
    height: 600px;

}