
@import "../immagini/style.css";
h3{
    font-size: 25px;
    color: blue;
    font-style: normal;

}

body

{
    color: aquamarine;
    font-style: oblique;
    font-family: "Arial Narrow", sans-serif;
}